@use "variables" as *;

body {
  font-family: $font-primary;
  margin: 0;
  color: $color-text;
  background-color: white;
  line-height: 1.6;
}

a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}

p {
  font-size: $p-font-size;
  line-height: $p-line-height;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: $space-xs;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-md;

  img {
    width: 26%;
    height: auto;
    margin: $space-sm;
  }

  .nav-links {
    display: flex;
    align-items: center;

    a {
      margin-right: $space-sm;
    }
  }

  @media (max-width: $bp-md) {
    img {
      width: 80%;
      height: auto;
      margin: $space-xs auto;
    }
  }
}

.hero {
  display: flex;
  flex-wrap: wrap;

  .image {
    flex: 1 1 50%;

    .image-desktop {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }

    .image-mobile {
      display: none;
    }
  }

  .content {
    flex: 1 1 50%;
    padding: $space-md;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section-title {
      color: $color-primary;
      font-size: 1.8rem;
      font-weight: 500;
      position: relative;
      margin-top: $space-md;

      &::after {
        content: "";
        display: block;
        width: 80px;
        height: 2px;
        background-color: $color-primary;
        margin: 0.5rem auto;
      }
    }

    p {
      margin: $space-md;
    }

    .cta-button {
      background-color: $color-accent;
      color: white;
      padding: 0.65rem 2rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
      font-size: $p-font-size;
    }
  }

  @media (max-width: $bp-md) {
    .image {
      flex: 1 1 100%;

      .image-mobile {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
      }

      .image-desktop {
        display: none;
      }
    }

    .content {
      p {
        margin: 0;
        margin-bottom: $space-md;
      }
    }
  }
}

.citizens-advantage {
  padding: $space-md;
  text-align: center;

  .section-title {
    color: $color-primary;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: $space-sm;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 2px;
      background-color: $color-primary;
      margin: 0.5rem auto;
    }
  }

  .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-lg $space-md;
    margin-top: $space-md;
    text-align: left;
    padding: 0 $space-md;

    .feature {
      position: relative;

      h2 {
        color: $color-primary;
      }

      p {
        margin-top: $space-xs;
        color: $color-subtext;

        a {
          color: $color-secondary;
        }
      }

      &:nth-child(odd)::after {
        content: "";
        position: absolute;
        top: 25%;
        right: -0.7rem;
        width: 2px;
        height: 50%;
        background-color: #ccc;
      }
    }
  }

  @media (max-width: $bp-md) {
    .features-grid {
      grid-template-columns: 1fr;
      gap: $space-sm;
      padding: 0;

      .feature {
        border: none;
        padding: 0;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          position: relative;
          padding-top: $space-md;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #ccc;
          }
        }

        &::after {
          display: none;
        }
      }
    }
  }
}

.loan-info-banner {
  max-width: 100%;
  margin: 0 auto;
  padding: $space-md $space-lg;
  text-align: center;

  h2 {
    background-color: $color-primary;
    color: white;
    padding: $space-sm;
  }

  &__body {
    background-color: #eef9f6;
    padding: $space-ms;
    font-size: 1rem;
    color: $color-subtext;
    line-height: 1.6;

    p {
      text-align: justify;
      margin: 0 auto;
      max-width: 1250px;
    }
  }

  @media (max-width: $bp-md) {
    padding: 0 $space-ms;

    p {
      text-align: left;
      padding: 0;
    }
  }
}

.testimonials {
  text-align: center;
  padding: $space-lg;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 7rem;

  .testimonial {
    margin-bottom: $space-md;

    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }

    blockquote {
      font-style: italic;
      margin: $space-sm 0;
    }

    cite {
      display: block;
      margin-top: $space-xs;
      color: $color-primary;
    }

    &:nth-child(1),
    &:nth-child(3) {
      padding: 0 2rem;

      blockquote {
        padding: 0 5rem;
      }
    }
  }

  @media (max-width: $bp-md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $space-md;
    padding-bottom: $space-xs;

    .testimonial {
      &:nth-child(1),
      &:nth-child(3) {
        padding: 0 2rem;

        blockquote {
          font-size: $p-font-size;
          padding: 0 1rem;
        }
      }

      &:nth-child(2n) {
        padding: 0;

        blockquote {
          font-size: $p-font-size;
          padding: 0 1rem;
        }
      }
    }
  }
}

.footer {
  text-align: left;
  color: $color-subtext;
  font-size: 0.875rem;
  padding: $space-md 0;

  .border {
    height: 2px;
    background-color: $color-primary;
    margin-bottom: $space-sm;
  }

  .social-links {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: $space-md $space-lg;
  }

  .social-link {
    margin-right: $space-sm;
    width: 30px;
    height: 30px;
  }

  p {
    padding: 0 $space-lg;
    font-size: small;
    line-height: 1.6;
  }

  a {
    color: $color-subtext;
    text-decoration: underline;
  }

  .privacy-statement {
    color: black;
    padding: 0 $space-lg;
  }

  @media (max-width: $bp-md) {
    padding: $space-md;

    .social-links {
      gap: $space-xs;
      padding: $space-sm 0;
    }

    .social-link {
      margin-right: 0;
      width: 28px;
      height: 28px;
    }

    p {
      padding: 0;
    }

    .privacy-statement {
      padding: 0;
      margin-top: $space-sm;
    }

    .border {
      margin: $space-md 0;
    }
  }
}
